<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${supplier.id == null ? 'Добавить отправителя' : 'Редактировать отправителя'}"></title>
    <link rel="stylesheet" th:href="@{/css/suppliersEdit.css}">
</head>
<body>
<h1 th:text="${supplier.id == null ? 'Добавить отправителя' : 'Редактировать отправителя'}"></h1>
<form th:action="@{/suppliers/save}" th:object="${supplier}" method="post">
    <input type="hidden" th:field="*{id}" /> <div th:if="${supplier.id != null}">
    <input type="hidden" th:field="*{id}" />
</div>
    <label for="companyName">Название:</label>
    <input type="text" id="companyName" th:field="*{companyName}" placeholder="Введите название компании или -" required><br>

    <label for="countryCode">Код страны:</label>
    <input type="text" id="countryCode" th:field="*{countryCode}" placeholder="Введите код страны или -" required><br>

    <label for="countryName">Имя страны:</label>
    <input type="text" id="countryName" th:field="*{countryName}" placeholder="Введите название страны или -" required><br>

    <label for="region">Регион:</label>
    <input type="text" id="region" th:field="*{region}" placeholder="Введите название региона(области) или -" required><br>

    <label for="city">Город:</label>
    <input type="text" id="city" th:field="*{city}" placeholder="Введите название города или -" required><br>

    <label for="street">Улица:</label>
    <input type="text" id="street" th:field="*{street}" placeholder="Введите название улицы или -" required><br>

    <label for="house">Дом:</label>
    <input type="text" id="house" th:field="*{house}" placeholder="Введите номер дома или -" required><br>

    <label for="apartment">Квартира:</label>
    <input type="text" id="apartment" th:field="*{apartment}" placeholder="Введите номер квартиры или -" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Введите email или -" required><br>

    <button type="submit">Сохранить</button>
    <a href="/suppliers" class="back-button">Назад к списку</a>
</form>
</body>
</html>