<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/declaration.css}">
</head>
<body>
<form id="myForm" th:object="${declaration}" enctype="multipart/form-data">
    <label for="currencyName">Выберите валюту:</label>
    <select id="currencyName" name="currencyName" th:field="*{currencyName}" required>
        <option value="">-- Выберите валюту --</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
    </select><br>

    <label for="currencyRate">Курс валюты:</label>
    <input type="text" id="currencyRate" name="currencyRate" th:field="*{currencyRate}" required />

    <label for="supplier">Выберите отправителя:</label>
    <select id="supplier" name="supplier" th:field="*{supplier.id}" required>
        <option value="">-- Выберите отправителя --</option> <div th:if="${suppliers != null and !suppliers.empty}">
        <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.companyName}"></option>
    </div>
        <div th:unless="${suppliers != null and !suppliers.empty}">
            <option value="">Отправители отсутствуют</option>
        </div>
    </select><br>

    <label for="recipientCompany">Выберите фирму получателя:</label>
    <select id="recipientCompany" name="recipientCompany" th:field="*{recipientCompany}" >
        <option value="1">POSTAL EXPRESS</option>
        <option value="2">ТОО "DISALES GROUP"</option>
    </select>  <br>

    <label for="docIdDeclaration">Номер накладной:</label>
    <input type="text" id="docIdDeclaration" name="docIdDeclaration" th:field="*{docIdDeclaration}" required />

    <label for="docCreationDateDeclaration">Дата накладной:</label>
    <input type="date" id="docCreationDateDeclaration" name="docCreationDateDeclaration" th:field="*{docCreationDateDeclaration}" required />

    <div id="recipientFields">
        <div class="recipient-wrapper" th:each="recipient, recipientStat : *{recipients}" th:attr="data-recipient-index=${recipientStat.index}">
            <h3 class="recipient-header" th:text="'Получатель ' + ${recipientStat.index + 1}">Получатель 1</h3>
            <div class="recipient hidden" th:attr="data-recipient-index=${recipientStat.index}">
                <button type="button" class="deleteRecipientButton" th:attr="data-recipient-index=${recipientStat.index}">Удалить получателя</button>

                <div class="form-group">
                    <label for="iin">ИИН:</label>
                    <input type="text"
                           id="iin"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].iin'"
                           th:value="${recipient.iin}"
                           required pattern="\d{12}" title="Введите 12-значный ИИН" />
                </div>
                <button type="button" id="findRecipientByIIN">Заполнить данные по ИИН</button>

                <div class="form-group">
                    <label for="fio">ФИО:</label>
                    <input type="text"
                           id="fio"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].fio'"
                           th:value="${recipient.fio}"
                           required />
                </div>

                <div class="form-group">
                    <label for="docId">Номер удостоверения:</label>
                    <input type="text"
                           id="docId"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].docId'"
                           th:value="${recipient.docId}"
                           required />
                </div>

                <div class="form-group">
                    <label for="docCreationDate">Дата выдачи документа:</label>
                    <input type="text"
                           id="docCreationDate"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].docCreationDate'"
                           th:value="${recipient.docCreationDate}"
                           required />
                </div>

                <div class="form-group">
                    <label for="regionName">Регион:</label>
                    <input type="text"
                           id="regionName"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].regionName'"
                           th:value="${recipient.regionName}"
                           required />
                </div>

                <div class="form-group">
                    <label for="cityName">Город:</label>
                    <input type="text"
                           id="cityName"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].cityName'"
                           th:value="${recipient.cityName}"
                           required />
                </div>

                <div class="form-group">
                    <label for="streetName">Улица:</label>
                    <input type="text"
                           id="streetName"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].streetName'"
                           th:value="${recipient.streetName}"
                           required />
                </div>

                <div class="form-group">
                    <label for="buildingNumberId">Дом:</label>
                    <input type="text"
                           id="buildingNumberId"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].buildingNumberId'"
                           th:value="${recipient.buildingNumberId}"
                           required />
                </div>

                <div class="form-group">
                    <label for="roomNumberId">Квартира:</label>
                    <input type="text"
                           id="roomNumberId"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].roomNumberId'"
                           th:value="${recipient.roomNumberId}"
                           required />
                </div>

                <div class="form-group">
                    <label for="phone">Телефон:</label>
                    <input type="text"
                           id="phone"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].phone'"
                           th:value="${recipient.phone}"
                           placeholder="+7 777 7777777"
                           required />
                </div>

                <div class="form-group">
                    <label for="photo">Фото документа:</label>
                    <input type="file"
                           id="photo"
                           th:attr="name='recipients[' + ${recipientStat.index} + '].photo'"
                           th:value="${recipient.photo}"
                           accept="image/*"
                           required />
                </div>

                <div th:attr="id='parcelFields-' + ${recipientStat.index}">
                    <div class="parcel" th:each="parcel, parcelStat : ${recipient.parcels}" th:attr="data-parcel-index=${parcelStat.index}">
                        <h3 th:text="'Посылка ' + (${parcelStat.index} + 1)">Посылка 1</h3>

                        <div class="form-group">
                            <label for="commodityCode">Код ТНВЭД:</label>
                            <input type="text"
                                   id="commodityCode"
                                   th:attr="name='recipients[' + ${recipientStat.index} + '].parcels[' + ${parcelStat.index} + '].commodityCode'"
                                   th:value="${parcel.commodityCode}" required />
                        </div>

                        <div class="form-group">
                            <label for="goodsDescriptionText">Описание:</label>
                            <input type="text"
                                   id="goodsDescriptionText"
                                   th:attr="name='recipients[' + ${recipientStat.index} + '].parcels[' + ${parcelStat.index} + '].goodsDescriptionText'"
                                   th:value="${parcel.goodsDescriptionText}" required />
                        </div>

                        <div class="form-group">
                            <label for="unifiedGrossMassMeasure">Вес:</label>
                            <input type="text"
                                   id="unifiedGrossMassMeasure"
                                   th:attr="name='recipients[' + ${recipientStat.index} + '].parcels[' + ${parcelStat.index} + '].unifiedGrossMassMeasure'"
                                   th:value="${parcel.unifiedGrossMassMeasure}" required />
                        </div>

                        <div class="form-group">
                            <label for="currencyInAmount">Сумма:</label>
                            <input type="text"
                                   id="currencyInAmount"
                                   th:attr="name='recipients[' + ${recipientStat.index} + '].parcels[' + ${parcelStat.index} + '].currencyInAmount'"
                                   th:value="${parcel.currencyInAmount}" required />
                        </div>

                        <button type="button" class="deleteParcelButton"
                                th:attr="data-recipient-index=${recipientStat.index}, data-parcel-index=${parcelStat.index}">
                            Удалить посылку
                        </button>
                    </div>
                </div>
                <button type="button" class="addParcelButton" th:attr="data-recipient-index=${recipientStat.index}">Добавить посылку</button>
            </div>
        </div>
    </div>
    <button type="button" id="addRecipient">Добавить получателя</button>
    <button type="submit">Отправить</button>
</form>
</body>
<script th:inline="javascript">
    $(document).ready(function() {
     $("#myForm").submit(function(event) {
       event.preventDefault();

       // Создаем объект FormData для отправки файлов
       var formData = new FormData(this);

       $.ajax({
         url: "/createDeclaration",
         type: "POST",
         data: formData,
         processData: false, // Отключаем обработку данных
         contentType: false, // Отключаем автоматическую установку заголовка Content-Type
         success: function(response) {
           // Обработка ответа сервера
           console.log(response);
           alert(response);
         },
         error: function(xhr, status, error) {
           console.error("Ошибка:", error);
           alert("Произошла ошибка: " + error);
         }
       });
     });
   });
</script>
<script th:src="@{/js/declaration.js}"></script>
</html>