<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/declaration.css}">
</head>
<body>
<form id="myForm" enctype="multipart/form-data">
    <label for="currencyName">Выберите валюту:</label>
    <select id="currencyName" name="currencyName" required>
        <option value="">-- Выберите валюту --</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
    </select>  <br>

    <label for="currencyRate">Курс валюты:</label>
    <input type="text" id="currencyRate" name="currencyRate" required />

    <label for="supplier">Выберите отправителя:</label>
    <select id="supplier" name="supplier" required>
        <option value="">-- Выберите отправителя --</option> <div th:if="${suppliers != null and !suppliers.empty}">
        <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.companyName}"></option>
    </div>
        <div th:unless="${suppliers != null and !suppliers.empty}">
            <option value="">Отправители отсутствуют</option>
        </div>
    </select><br>

    <label for="recipientCompany">Выберите фирму получателя:</label>
    <select id="recipientCompany" name="recipientCompany">
        <option value="1">POSTAL EXPRESS</option>
        <option value="2">ТОО "DISALES GROUP"</option>
    </select>  <br>

    <label for="docIdDeclaration">Номер накладной:</label>
    <input type="text" id="docIdDeclaration" name="docIdDeclaration" required />

    <label for="docCreationDateDeclaration">Дата накладной:</label>
    <input type="date" id="docCreationDateDeclaration" name="docCreationDateDeclaration" required />

    <div id="recipientFields">
        <div class="recipient-wrapper" data-recipient-index="0">
            <h3 class="recipient-header">Получатель 1</h3>
            <div class="recipient hidden" data-recipient-index="0">
                <button type="button" class="deleteRecipientButton" data-recipient-index="0">Удалить получателя</button>
                <div class="form-group">
                    <label for="fio">ФИО:</label>
                    <input type="text" id="fio" name="recipients[0].fio" required />
                </div>

                <div class="form-group">
                    <label for="iin">ИИН:</label>
                    <input type="text" id="iin" name="recipients[0].iin" required pattern="\d{12}" title="Введите 12-значный ИИН" />
                </div>

                <div class="form-group">
                    <label for="docId">Номер удостоверения:</label>
                    <input type="text" id="docId" name="recipients[0].docId" required />
                </div>

                <div class="form-group">
                    <label for="docCreationDate">Дата выдачи документа:</label>
                    <input type="date" id="docCreationDate" name="recipients[0].docCreationDate" required />
                </div>

                <div class="form-group">
                    <label for="regionName">Регион:</label>
                    <input type="text" id="regionName" name="recipients[0].regionName" required />
                </div>

                <div class="form-group">
                    <label for="cityName">Город:</label>
                    <input type="text" id="cityName" name="recipients[0].cityName" required />
                </div>

                <div class="form-group">
                    <label for="streetName">Улица:</label>
                    <input type="text" id="streetName" name="recipients[0].streetName" required />
                </div>

                <div class="form-group">
                    <label for="buildingNumberId">Дом:</label>
                    <input type="text" id="buildingNumberId" name="recipients[0].buildingNumberId" required />
                </div>

                <div class="form-group">
                    <label for="roomNumberId">Квартира:</label>
                    <input type="text" id="roomNumberId" name="recipients[0].roomNumberId" />
                </div>

                <div class="form-group">
                    <label for="phone">Телефон:</label>
                    <input type="text" id="phone" name="recipients[0].phone" placeholder="+7 777 7777777" required />
                </div>

                <div class="form-group">
                    <label for="photo-0">Фото документа:</label>
                    <input type="file" id="photo-0" data-recipient-index="0" accept="image/*" required />
                    <img src="#" id="previewImage-0" alt="Preview" style="max-width: 200px; max-height: 200px; display: none;">
                </div>

                <div id="parcelFields-0">
                    <div class="parcel" data-parcel-index="0">
                        <h3>Посылка 1</h3>
                        <div class="form-group">
                            <label for="commodityCode">Код ТНВЭД:</label>
                            <input type="text" id="commodityCode" name="recipients[0].parcels[0].commodityCode" required />
                        </div>
                        <div class="form-group">
                            <label for="goodsDescriptionText">Описание:</label>
                            <input type="text" id="goodsDescriptionText" name="recipients[0].parcels[0].goodsDescriptionText" required />
                        </div>
                        <div class="form-group">
                            <label for="unifiedGrossMassMeasure">Вес:</label>
                            <input type="text" id="unifiedGrossMassMeasure" name="recipients[0].parcels[0].unifiedGrossMassMeasure" required />
                        </div>
                        <div class="form-group">
                            <label for="currencyInAmount">Сумма:</label>
                            <input type="text" id="currencyInAmount" name="recipients[0].parcels[0].currencyInAmount" required />
                        </div>
                        <button type="button" class="deleteParcelButton" data-recipient-index="0" data-parcel-index="0">Удалить посылку</button>
                    </div>
                </div>
                <button type="button" class="addParcelButton" data-recipient-index="0">Добавить посылку</button>
            </div>
        </div>
    </div>
    <button type="button" id="addRecipient">Добавить получателя</button>
    <button type="submit">Отправить</button>
</form>
</body>
<script th:inline="javascript">
    $(document).ready(function() {
     $("#myForm").submit(function(event) {
       event.preventDefault();

       // Создаем объект FormData для отправки файлов
       var formData = new FormData(this);

       $.ajax({
         url: "/createDeclaration",
         type: "POST",
         data: formData,
         processData: false, // Отключаем обработку данных
         contentType: false, // Отключаем автоматическую установку заголовка Content-Type
         success: function(response) {
           // Обработка ответа сервера
           console.log(response);
           alert(response);
         },
         error: function(xhr, status, error) {
           console.error("Ошибка:", error);
           alert("Произошла ошибка: " + error);
         }
       });
     });
   });
</script>
<script th:src="@{/js/declaration.js}"></script>
</html>