<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <p th:text="|Hello, ${name}!|" />

    <form id="myForm">  <label for="fullName">Полное имя:</label>
        <input type="text" id="fullName" name="fullName" />  <br>
        <button type="submit">Отправить</button>
    </form>


</body>
<script th:inline="javascript">
    $(document).ready(function() {
  $("#myForm").submit(function(event) {
    event.preventDefault();
    var formData = $(this).serialize();

    $.ajax({
      url: "/test",
      type: "POST",
      data: formData,
      success: function(response) {
        // Обработка ответа сервера
        console.log(response);
      }
    });
  });
});
</script>
</html>