<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Генерация PDF</title>
    </head>
    <body>
        <form id="myForm" method="POST" action="/generatePdf" enctype="multipart/form-data">
            <label for="fullName">ФИО:</label>
            <input type="text" id="fullName" name="fullName" >
            <label for="photo">Фото документа:</label>
            <input type="file" id="photo" name="photo" accept="image/*">
            <button type="submit">Сгенерировать PDF</button>
        </form>
    </body>
</html>